# Database Configuration
SPRING_DATASOURCE_URL=YOUR_DATASOURCE_URL
SPRING_DATASOURCE_USERNAME=YOUR_DATASOURCE_USERNAME
SPRING_DATASOURCE_PASSWORD=YOUR_DATASOURCE_PASSWORD

# JWT secret key
JWT_SECRET_KEY=YOUR_SECRET_KEY

# Mail properties
SUPPORT_EMAIL=YOUR_SUPPORT_EMAIL
APP_PASSWORD=YOUR_APP_PASSWORD

# Google setting
GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
GOOGLE_SECRET_ID=YOUR_SECRET_ID